<h2><i class="layui-icon layui-icon-transfer" style="font-size: 23px;"></i> 首页</h2>
<hr>
<div class="content">
  <div class="content-box">
    <div class="date_box">
      <div class="date_day" >
        <i class="layui-icon layui-icon-edit"></i>  
        <span style="color:#ae8f23">
          20
        </span>
      </div>
      <div class="date_month" >
        9月
      </div>
      <div class="date_year" >
        2020
      </div>
    </div>
    <div class="data-image">
      <img src="../../../assets/images/loading.jpg" alt="img">
    </div>
    <div class="description">
      <div class="description-title">
        <h2>
          袁公
        </h2>
      </div>
      <div class="description-content">
        <p>
          在古文多有引用，以“白猿公”指传说古代善剑术的人
        </p>
      </div>
    </div>
  </div>
  <div class="content-box">
    <div class="date_box">
      <div class="date_day" >
        <i class="layui-icon layui-icon-edit"></i>  
        <span style="color:#ae8f23">
          21
        </span>
      </div>
      <div class="date_month" >
        9月
      </div>
      <div class="date_year" >
        2020
      </div>
    </div>
    <div class="data-image">
      <img src="../../../assets/images/loading.jpg" alt="img">
    </div>
    <div class="description">
      <div class="description-title">
        <h2>
          十朋之龟
        </h2>
      </div>
      <div class="description-content">
        <p>
          用以占吉凶、决疑难的十类龟。古人视为大宝...
        </p>
      </div>
    </div>
  </div>
  <div class="content-box">
    <div class="date_box">
      <div class="date_day" >
        <i class="layui-icon layui-icon-edit"></i>  
        <span style="color:#ae8f23">
          22
        </span>
      </div>
      <div class="date_month" >
        9月
      </div>
      <div class="date_year" >
        2020
      </div>
    </div>
    <div class="data-image">
      <img src="../../../assets/images/loading.jpg" alt="img">
    </div>
    <div class="description">
      <div class="description-title">
        <h2>
          鬼兵
        </h2>
      </div>
      <div class="description-content">
        <p>
          只可以看见腰下身子，都有花纹的巾帮着腿。
        </p>
      </div>
    </div>
  </div>
</div>